html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.lk-control-bar{
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-top: 0px solid var(--lk-border-color);
  margin-left: 0;
  margin-right: 0;
  }
  .contenedor-iframe {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%; 
  }
  .lk-control-bar{
    gap: 0;
    padding: 0rem 0rem;
    margin: 0rem;
  }
.lk-button-group{
   gap: 0;
   padding: 0rem 0rem;
   margin: 0rem;
 }
 .lk-button-menu{
   gap: 0;
   padding: 0rem 0rem;
   margin: 0rem;
 }
  
 .lk-.lk-button, .lk-start-audio-button, .lk-chat-toggle, .lk-disconnect-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  padding: 0rem 0rem;
  color: var(--lk-control-fg);
  background-image: none;
  background-color: var(--lk-control-bg);
  border: 0;
  border-radius: var(--lk-border-radius);
  cursor: pointer;
  white-space: nowrap;
}